@use '../abstracts' as *;

/// CONTAINER ///
.container {
  margin: 0 auto;
  padding: 0 rem(16);
  
  @include breakpoint-up('small') {
    max-width: rem(640);
  }
  
  @include breakpoint-up('large') {
    padding: 0 rem(85);
    max-width: rem(1440);
  }
}

/// FLEX ///
.flex {
  display: flex;
  
  &--spb {
    justify-content: space-between;
  }
  
  &--aic {
    align-items: center;
  }
  
  &--jcfe {
    justify-content: flex-end;
  }
}